
<div class="well">
  <h5>To edit the information associated with <strong><a href="/stores/<%= @store.id() %>/edit"><%= @store.name() %>,</a></strong> or to remove a brand just click it.</h5>
  <% if @store.brands.any? %>
    <h4>Brands at this branch:</h4>
    <ul>
      <% @store.brands.each() do |brand| %>
    <li><%= brand.name() %>, <em><%= brand.style() %></em></li>
      <% end %>
    </ul>
  <% else %>
    <h3>No brands added yet.</h3>
  <% end %>
  <form class="form-horizontal" action="/stores/<%= @store.id() %>/brands" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class="form-group">
      <h4>Associate brands with <%= @store.name() %>:</h4>
       <br>
        <% @store.resubmits_brands.each()do |brand| %>
          <label for="brand_ids[]" class="form-check-label"><%= brand.name()%><input type="checkbox" id="brand_ids[]" name="brand_ids[]" value="<%= brand.id()%>"></label>
        <% end %>
    </div>
    <button class="btn btn-success" type="submit" name="button">Submit</button>
    <a href="/"><button class="btn btn-danger" type="button" name="button">Submit None</button></a>
  </form>
</div>
